doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title ورود مدیر
        // Favicon
        link(rel='shortcut icon', href='assets/media/image/favicon.png')
        // Plugin styles
        link(rel='stylesheet', href='vendors/bundle.css', type='text/css')
        // App styles
        link(rel='stylesheet', href='assets/css/app.min.css', type='text/css')

        script(src='src/toastify.js')
    body.form-membership

        .preloader
            .preloader-icon

        .form-wrapper
            // logo
            #logo
                if (message)
                    p#myMessage.btn.btn-danger.btn-notify-danger.m-t-b-20(onclick= "clicked()")= message
                else
                    p(style="font-family: 'Lucida Console', 'Courier', 'monospace';") welcome
            // ./ logo
            h5 ورود
            // form
            form(method='post' , action='/adminLogin')
                .form-group
                    input.form-control(type='text', name='usernameAdmin', placeholder='نام کاربری', required='true', autofocus='false')
                .form-group
                    input.form-control(type='password', name='passwordAdmin', placeholder='رمزعبور', required='true')
                .form-group.d-flex.justify-content-between
                    .custom-control.custom-checkbox
                        input#remember_me.custom-control-input(type='checkbox' name='remember_me')
                        label.custom-control-label(for='remember_me') مرا به خاطر بسپار
                button.btn.btn-primary.btn-block ورود
            // ./ form
            // Plugin scripts
            script(src='vendors/bundle.js')
            // App scripts
            script(src='assets/js/app.min.js')
