doctype html
head
    title Login
    // Meta tag Keywords
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(name='keywords' content='Glassy Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements')
    script(type='application/x-javascript').
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); }
    // Meta tag Keywords
    // css files
    link(rel='stylesheet' href='/stylesheets/font-awesome.css')
    // Font-Awesome-Icons-CSS
    link(rel='stylesheet' href='/stylesheets/style.css' type='text/css' media='all')
    // Style-CSS
    // //css files
    // web-fonts
    link(href='//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700' rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700' rel='stylesheet')
    // //web-fonts
// header
.header-w3l
    h1 Login
.main-w3layouts-agileinfo
    // form-stars-here
    .wthree-form
        if (text)
            h2= text
        else
            h2 Fill out the form below to login
        form(action='/loginWeb' method='post')
            .form-sub-w3
                input(type='text' name='username' placeholder='Username ' required='true')
                .icon-w3
                    i.fa.fa-user(aria-hidden='true')
            .form-sub-w3
                input(type='password' name='password' placeholder='Password' required='true')
                .icon-w3
                    i.fa.fa-unlock-alt(aria-hidden='true')
            label.anim
                a(href='http://localhost:2000/loginweb') Forgot Password
            .clear
            .submit-agileits
                input(type='submit' value='Login')
